In [1]:
import pandas as pd
import numpy as np
import os
import env
from acquire import get_zillow

## 1. Acquire data from the cloud database.
>You will want to end with a single dataframe. Include the logerror field and all other fields related to the properties that are available. You will end up using all the tables in the database.

> ***Be sure to do the correct join (inner, outer, etc.). We do not want to eliminate properties purely because they may have a null value for airconditioningtypeid.*** 
> * Only include properties with a transaction in 2017, and include only the last transaction for each property (so no duplicate property ID's), along with zestimate error and date of transaction. (Hint: read the docs for the .duplicated method) 
> * Only include properties that have a latitude and longitude value.

In [2]:
def get_zillow():
    '''
    Argument: No arguments required
    Actions: 
        1. Checks for the existence of the csv in the current directory
            a. if present:
                i. reads the csv
            b. if not present:
                i. queries MySQL dtabase using the env.py file for the credentials
                ii. saves the csv to the current working directory
    Return: dataframe
    Modules: 
        import env
        import pandas as pd
        import os
    '''
    # a variable to hold the xpected or future file name
    filename = 'zillow.csv'

    # if the file is present in the directory 
    if os.path.isfile(filename):

        # read the csv and assign it to the variable df
        df = pd.read_csv(filename, index_col=0)

        # return the dataframe and exit the funtion
        return df

    # if the file is not in the current working directory,
    else:
        # assign the name of the database to db
        db = 'zillow'

        # use the env.py function to get the url needed from the db
        url = env.get_db_url(db)

        # assign the sql query into the variable query
        query = '''SELECT
  *
FROM properties_2017 p7
  LEFT OUTER JOIN predictions_2017 ON p7.parcelid = predictions_2017.parcelid
  LEFT OUTER JOIN airconditioningtype act ON p7.airconditioningtypeid = act.airconditioningtypeid
  LEFT OUTER JOIN architecturalstyletype ast ON p7.architecturalstyletypeid = ast.architecturalstyletypeid
  LEFT OUTER JOIN buildingclasstype bct ON p7.buildingclasstypeid = bct.buildingclasstypeid
  LEFT OUTER JOIN heatingorsystemtype hst ON p7.heatingorsystemtypeid = hst.heatingorsystemtypeid
  LEFT OUTER JOIN propertylandusetype plut ON p7.propertylandusetypeid = plut.propertylandusetypeid
  LEFT OUTER JOIN storytype st ON p7.storytypeid = st.storytypeid
  LEFT OUTER JOIN typeconstructiontype tct ON p7.typeconstructiontypeid = tct.typeconstructiontypeid
WHERE YEAR(predictions_2017.transactiondate) = 2017 
  AND (latitude IS NOT NULL AND longitude IS NOT NULL);'''

        # query sql using pandas function
        df = pd.read_sql(query, url)
        
        # rid of duplicates
        df = df.loc[:,~df.columns.duplicated()].copy()

        # save the dataframe as a csv to the current working directory
        df.to_csv(filename)

        # returns the dataframe
        return df

In [3]:
# getting df
df = get_zillow()

/var/folders/fj/7fbysvvn7956npcj9d4mxfxw0000gn/T/ipykernel_1447/91037858.py:24: DtypeWarning: Columns (64) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filename, index_col=0)

In [4]:
df.loc[:,~df.columns.duplicated()].copy()

,id,parcelid,airconditioningtypeid,architecturalstyletypeid,basementsqft,bathroomcnt,bedroomcnt,buildingclasstypeid,buildingqualitytypeid,calculatedbathnbr,...,censustractandblock,logerror,transactiondate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,1727539,14297519,NaN,NaN,NaN,3.5,4.0,NaN,NaN,3.5,...,6.059063e+13,0.025595,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
1,1387261,17052889,NaN,NaN,NaN,1.0,2.0,NaN,NaN,1.0,...,6.111001e+13,0.055619,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
2,11677,14186244,NaN,NaN,NaN,2.0,3.0,NaN,NaN,2.0,...,6.059022e+13,0.005383,2017-01-01,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
3,2288172,12177905,NaN,NaN,NaN,3.0,4.0,NaN,8.0,3.0,...,6.037300e+13,-0.103410,2017-01-01,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
4,1970746,10887214,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037124e+13,0.006940,2017-01-01,Central,NaN,NaN,Central,Condominium,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77574,2864704,10833991,1.0,NaN,NaN,3.0,3.0,NaN,8.0,3.0,...,6.037132e+13,-0.002245,2017-09-20,Central,NaN,NaN,Central,Condominium,NaN,NaN
77575,673515,11000655,NaN,NaN,NaN,2.0,2.0,NaN,6.0,2.0,...,6.037101e+13,0.020615,2017-09-20,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN
77576,2968375,17239384,NaN,NaN,NaN,2.0,4.0,NaN,NaN,2.0,...,6.111008e+13,0.013209,2017-09-21,NaN,NaN,NaN,NaN,Single Family Residential,NaN,NaN
77577,1843709,12773139,1.0,NaN,NaN,1.0,3.0,NaN,4.0,1.0,...,6.037434e+13,0.037129,2017-09-21,Central,NaN,NaN,Central,Single Family Residential,NaN,NaN
77578,1187175,12826780,NaN,NaN,NaN,2.0,3.0,NaN,6.0,2.0,...,6.037503e+13,0.007204,2017-09-25,NaN,NaN,NaN,Central,Single Family Residential,NaN,NaN

In [5]:
df.columns

Index(['id', 'parcelid', 'airconditioningtypeid', 'architecturalstyletypeid',
       'basementsqft', 'bathroomcnt', 'bedroomcnt', 'buildingclasstypeid',
       'buildingqualitytypeid', 'calculatedbathnbr', 'decktypeid',
       'finishedfloor1squarefeet', 'calculatedfinishedsquarefeet',
       'finishedsquarefeet12', 'finishedsquarefeet13', 'finishedsquarefeet15',
       'finishedsquarefeet50', 'finishedsquarefeet6', 'fips', 'fireplacecnt',
       'fullbathcnt', 'garagecarcnt', 'garagetotalsqft', 'hashottuborspa',
       'heatingorsystemtypeid', 'latitude', 'longitude', 'lotsizesquarefeet',
       'poolcnt', 'poolsizesum', 'pooltypeid10', 'pooltypeid2', 'pooltypeid7',
       'propertycountylandusecode', 'propertylandusetypeid',
       'propertyzoningdesc', 'rawcensustractandblock', 'regionidcity',
       'regionidcounty', 'regionidneighborhood', 'regionidzip', 'roomcnt',
       'storytypeid', 'threequarterbathnbr', 'typeconstructiontypeid',
       'unitcnt', 'yardbuildingsqft17', 'yardbuildingsqft26', 'yearbuilt',
       'numberofstories', 'fireplaceflag', 'structuretaxvaluedollarcnt',
       'taxvaluedollarcnt', 'assessmentyear', 'landtaxvaluedollarcnt',
       'taxamount', 'taxdelinquencyflag', 'taxdelinquencyyear',
       'censustractandblock', 'logerror', 'transactiondate',
       'airconditioningdesc', 'architecturalstyledesc', 'buildingclassdesc',
       'heatingorsystemdesc', 'propertylandusedesc', 'storydesc',
       'typeconstructiondesc'],
      dtype='object')

In [6]:
# looking at duplicated parcel id's
df.duplicated(subset=['parcelid']).value_counts()

False    77381
True       198
dtype: int64

In [7]:
# replacing duplicates and keeping the first
df = df.sort_values('transactiondate', ascending=False).drop_duplicates(subset=['parcelid'], keep='first')

## 2. Summarize your data (summary stats, info, dtypes, shape, distributions, value_counts, etc.)

In [8]:
def nulls_by_col(df):
    '''
    This function takes in a dataframe 
    and finds the number of missing values
    it returns a new dataframe with quantity and percent of missing values
    '''
    num_missing = df.isnull().sum()
    rows = df.shape[0]
    percent_missing = num_missing / rows * 100
    cols_missing = pd.DataFrame({'num_rows_missing': num_missing, 'percent_rows_missing': percent_missing})
    return cols_missing.sort_values(by='num_rows_missing', ascending=False)

In [9]:
df.isnull().sum()

id                              0
parcelid                        0
airconditioningtypeid       52428
architecturalstyletypeid    77175
basementsqft                77331
                            ...
buildingclassdesc           77366
heatingorsystemdesc         27941
propertylandusedesc             0
storydesc                   77331
typeconstructiondesc        77159
Length: 68, dtype: int64

In [10]:
nulls_by_col(df)

                       num_rows_missing  percent_rows_missing
buildingclassdesc                 77366             99.980615
buildingclasstypeid               77366             99.980615
finishedsquarefeet13              77340             99.947015
storytypeid                       77331             99.935385
basementsqft                      77331             99.935385
...                                 ...                   ...
latitude                              0              0.000000
fips                                  0              0.000000
bedroomcnt                            0              0.000000
bathroomcnt                           0              0.000000
propertylandusetypeid                 0              0.000000

[68 rows x 2 columns]

In [11]:
def nulls_by_row(df):
    '''
    This function takes in a dataframe 
    and finds the number of missing values in a row
    it returns a new dataframe with quantity and percent of missing values
    '''
    num_missing = df.isnull().sum(axis=1)
    percent_miss = num_missing / df.shape[1] * 100
    rows_missing = pd.DataFrame({'num_cols_missing': num_missing, 'percent_cols_missing': percent_miss})
    rows_missing = df.merge(rows_missing,
                        left_index=True,
                        right_index=True)[['num_cols_missing', 'percent_cols_missing']]
    return rows_missing.sort_values(by='num_cols_missing', ascending=False)

In [12]:
def summarize(df):
    '''
    summarize will take in a single argument (a pandas dataframe) 
    and output to console various statistics on said dataframe, including:
    # .head()
    # .info()
    # .describe()
    # .value_counts()
    # observation of nulls in the dataframe
    '''
    print('SUMMARY REPORT')
    print('=====================================================\n\n')
    print('Dataframe head: ')
    print(df.head(3))
    print('=====================================================\n\n')
    print('Dataframe info: ')
    print(df.info())
    print('=====================================================\n\n')
    print('Dataframe Description: ')
    print(df.describe())
    num_cols = [col for col in df.columns if df[col].dtype != 'O']
    cat_cols = [col for col in df.columns if col not in num_cols]
    print('=====================================================')
    print('DataFrame value counts: ')
    for col in df.columns:
        if col in cat_cols:
            print(df[col].value_counts(), '\n')
        else:
            print(df[col].value_counts(bins=10, sort=False), '\n')
    print('=====================================================')
    print('nulls in dataframe by column: ')
    print(nulls_by_col(df))
    print('=====================================================')
    print('nulls in dataframe by row: ')
    print(nulls_by_row(df))
    print('=====================================================')

In [13]:
# summarize(df)

## 3. Write a function that takes in a dataframe of observations and attributes and returns a dataframe where each row is an atttribute name, the first column is the number of rows with missing values for that attribute, and the second column is percent of total rows that have missing values for that attribute. 
Run the function and document takeaways from this on how you want to handle missing values.

In [14]:
# get the columns
cols = df.columns.to_list()

In [15]:
# check each column for missing values
col_null_count_ls = []
col_null_prop_ls = []
for col in cols:
    col_null_value_count = df[col].isna().sum()
    col_null_value_prop = col_null_value_count/len(df.index)
    col_null_count_ls.append(col_null_value_count)
    col_null_prop_ls.append(col_null_value_prop)
#     print(f'{col} has {col_null_value_count} missing values which is {col_null_value_prop:.2%}')

In [16]:
column_names = ['attribute', 'num_rows_missing', 'pct_rows_missing']

In [17]:
missing_data_cols = pd.DataFrame(np.array([cols, col_null_count_ls, col_null_prop_ls]).T, columns=column_names)

In [18]:
nulls_by_col(df)

                       num_rows_missing  percent_rows_missing
buildingclassdesc                 77366             99.980615
buildingclasstypeid               77366             99.980615
finishedsquarefeet13              77340             99.947015
storytypeid                       77331             99.935385
basementsqft                      77331             99.935385
...                                 ...                   ...
latitude                              0              0.000000
fips                                  0              0.000000
bedroomcnt                            0              0.000000
bathroomcnt                           0              0.000000
propertylandusetypeid                 0              0.000000

[68 rows x 2 columns]

In [19]:
def getDuplicateColumns(df):

	# Create an empty set
	duplicateColumnNames = set()

	# Iterate through all the columns
	# of dataframe
	for x in range(df.shape[1]):

		# Take column at xth index.
		col = df.iloc[:, x]

		# Iterate through all the columns in
		# DataFrame from (x + 1)th index to
		# last index
		for y in range(x + 1, df.shape[1]):

			# Take column at yth index.
			otherCol = df.iloc[:, y]

			# Check if two columns at x & y
			# index are equal or not,
			# if equal then adding
			# to the set
			if col.equals(otherCol):
				duplicateColumnNames.add(df.columns.values[y])

	# Return list of unique column names
	# whose contents are duplicates.
	return list(duplicateColumnNames)

In [20]:
df.columns.to_list()

['id',
 'parcelid',
 'airconditioningtypeid',
 'architecturalstyletypeid',
 'basementsqft',
 'bathroomcnt',
 'bedroomcnt',
 'buildingclasstypeid',
 'buildingqualitytypeid',
 'calculatedbathnbr',
 'decktypeid',
 'finishedfloor1squarefeet',
 'calculatedfinishedsquarefeet',
 'finishedsquarefeet12',
 'finishedsquarefeet13',
 'finishedsquarefeet15',
 'finishedsquarefeet50',
 'finishedsquarefeet6',
 'fips',
 'fireplacecnt',
 'fullbathcnt',
 'garagecarcnt',
 'garagetotalsqft',
 'hashottuborspa',
 'heatingorsystemtypeid',
 'latitude',
 'longitude',
 'lotsizesquarefeet',
 'poolcnt',
 'poolsizesum',
 'pooltypeid10',
 'pooltypeid2',
 'pooltypeid7',
 'propertycountylandusecode',
 'propertylandusetypeid',
 'propertyzoningdesc',
 'rawcensustractandblock',
 'regionidcity',
 'regionidcounty',
 'regionidneighborhood',
 'regionidzip',
 'roomcnt',
 'storytypeid',
 'threequarterbathnbr',
 'typeconstructiontypeid',
 'unitcnt',
 'yardbuildingsqft17',
 'yardbuildingsqft26',
 'yearbuilt',
 'numberofstories',
 'fireplaceflag',
 'structuretaxvaluedollarcnt',
 'taxvaluedollarcnt',
 'assessmentyear',
 'landtaxvaluedollarcnt',
 'taxamount',
 'taxdelinquencyflag',
 'taxdelinquencyyear',
 'censustractandblock',
 'logerror',
 'transactiondate',
 'airconditioningdesc',
 'architecturalstyledesc',
 'buildingclassdesc',
 'heatingorsystemdesc',
 'propertylandusedesc',
 'storydesc',
 'typeconstructiondesc']

In [47]:
cols_to_remove = [x for x in df.columns if x != 'parcelid' and (x[-2:] == 'id') ]

In [48]:
cols_to_remove

['propertycountylandusecode']

In [22]:
def remove_columns(df, cols_to_remove):  
    df = df.drop(columns=cols_to_remove)
    return df

In [23]:
cols_to_remove = [x for x in df.columns if x != 'parcelid' and (x[-2:] == 'id') ]
df = remove_columns(df, cols_to_remove)

In [24]:
df.shape

(77381, 58)

In [25]:
def handle_missing_values(df, prop_required_col = .5, prop_required_row = .75):
    '''
    Actions: this function removes columns and rows based on the proportion of data missing
    
    '''
    # COL
    # setting a threshold for columns based on kwarg
    threshold = int(round(prop_required_col*len(df.index), 0))
    
    # dropping the null values that meet the threshold established
    df.dropna(axis=1, thresh=threshold, inplace=True)
    
    # ROW
    # setting a threshold for the rows based on the kwarg
    threshold = int(round(prop_required_row*len(df.columns), 0))
    
    # dropping the null values that meet the threshold established
    df.dropna(axis=0, thresh=threshold, inplace=True)
    
    return df

In [26]:
# setting proportion
prop_required_col = .5

# creating a threshold amount 
threshold = int(round(prop_required_col*len(df.index), 0))
print(threshold)

38690

In [27]:
len((df.dropna(axis=1, thresh=threshold)).columns)

30

In [28]:
# removing missing values now
df_prep = handle_missing_values(df)

In [29]:
df_prep.shape

(77305, 30)

In [33]:
df['propertylandusedesc']

77578    Single Family Residential
77577    Single Family Residential
77576    Single Family Residential
77575    Single Family Residential
77574                  Condominium
                   ...
5                      Condominium
4                      Condominium
3        Single Family Residential
2        Single Family Residential
0        Single Family Residential
Name: propertylandusedesc, Length: 77305, dtype: object

In [31]:
summarize(df)

SUMMARY REPORT
=====================================================


Dataframe head:
       parcelid  bathroomcnt  bedroomcnt  calculatedbathnbr  \
77578  12826780          2.0         3.0                2.0
77577  12773139          1.0         3.0                1.0
77576  17239384          2.0         4.0                2.0

       calculatedfinishedsquarefeet  finishedsquarefeet12    fips  \
77578                        1762.0                1762.0  6037.0
77577                        1032.0                1032.0  6037.0
77576                        1612.0                1612.0  6111.0

       fullbathcnt    latitude    longitude  ...  structuretaxvaluedollarcnt  \
77578          2.0  33937685.0 -117996709.0  ...                    140000.0
77577          1.0  34040895.0 -118038169.0  ...                     32797.0
77576          2.0  34300140.0 -118706327.0  ...                     50683.0

      taxvaluedollarcnt assessmentyear  landtaxvaluedollarcnt  taxamount  \
77578          522000.0         2016.0               382000.0    6317.15
77577           49546.0         2016.0                16749.0     876.43
77576           67205.0         2016.0                16522.0    1107.48

       censustractandblock  logerror  transactiondate  heatingorsystemdesc  \
77578         6.037503e+13  0.007204       2017-09-25              Central
77577         6.037434e+13  0.037129       2017-09-21              Central
77576         6.111008e+13  0.013209       2017-09-21                  NaN

             propertylandusedesc
77578  Single Family Residential
77577  Single Family Residential
77576  Single Family Residential

[3 rows x 30 columns]
=====================================================


Dataframe info:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 77305 entries, 77578 to 0
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77305 non-null  int64
 1   bathroomcnt                   77305 non-null  float64
 2   bedroomcnt                    77305 non-null  float64
 3   calculatedbathnbr             76772 non-null  float64
 4   calculatedfinishedsquarefeet  77185 non-null  float64
 5   finishedsquarefeet12          73749 non-null  float64
 6   fips                          77305 non-null  float64
 7   fullbathcnt                   76772 non-null  float64
 8   latitude                      77305 non-null  float64
 9   longitude                     77305 non-null  float64
 10  lotsizesquarefeet             69134 non-null  float64
 11  propertycountylandusecode     77305 non-null  object
 12  propertyzoningdesc            50318 non-null  object
 13  rawcensustractandblock        77305 non-null  float64
 14  regionidcity                  75845 non-null  float64
 15  regionidcounty                77305 non-null  float64
 16  regionidzip                   77260 non-null  float64
 17  roomcnt                       77305 non-null  float64
 18  unitcnt                       50563 non-null  float64
 19  yearbuilt                     77118 non-null  float64
 20  structuretaxvaluedollarcnt    77203 non-null  float64
 21  taxvaluedollarcnt             77304 non-null  float64
 22  assessmentyear                77305 non-null  float64
 23  landtaxvaluedollarcnt         77304 non-null  float64
 24  taxamount                     77300 non-null  float64
 25  censustractandblock           77079 non-null  float64
 26  logerror                      77305 non-null  float64
 27  transactiondate               77305 non-null  object
 28  heatingorsystemdesc           49440 non-null  object
 29  propertylandusedesc           77305 non-null  object
dtypes: float64(24), int64(1), object(5)
memory usage: 18.3+ MB
None
=====================================================


Dataframe Description:
           parcelid   bathroomcnt    bedroomcnt  calculatedbathnbr  \
count  7.730500e+04  77305.000000  77305.000000       76772.000000
mean   1.299773e+07      2.301391      3.056491           2.316867
std    3.299950e+06      0.994529      1.135623           0.979755
min    1.071186e+07      0.000000      0.000000           1.000000
25%    1.153789e+07      2.000000      2.000000           2.000000
50%    1.253008e+07      2.000000      3.000000           2.000000
75%    1.421033e+07      3.000000      4.000000           3.000000
max    1.676885e+08     18.000000     16.000000          18.000000

       calculatedfinishedsquarefeet  finishedsquarefeet12          fips  \
count                  77185.000000          73749.000000  77305.000000
mean                    1785.219939           1760.522543   6048.807826
std                      954.049286            934.024340     20.746398
min                      128.000000            128.000000   6037.000000
25%                     1182.000000           1172.000000   6037.000000
50%                     1543.000000           1523.000000   6037.000000
75%                     2113.000000           2076.000000   6059.000000
max                    35640.000000          21929.000000   6111.000000

        fullbathcnt      latitude     longitude  ...       roomcnt  \
count  76772.000000  7.730500e+04  7.730500e+04  ...  77305.000000
mean       2.250482  3.400855e+07 -1.182038e+08  ...      1.478378
std        0.966552  2.653188e+05  3.593804e+05  ...      2.825398
min        1.000000  3.333953e+07 -1.194754e+08  ...      0.000000
25%        2.000000  3.381480e+07 -1.184154e+08  ...      0.000000
50%        2.000000  3.402218e+07 -1.181810e+08  ...      0.000000
75%        3.000000  3.417448e+07 -1.179286e+08  ...      0.000000
max       18.000000  3.481877e+07 -1.175546e+08  ...     15.000000

            unitcnt     yearbuilt  structuretaxvaluedollarcnt  \
count  50563.000000  77118.000000                7.720300e+04
mean       1.110021   1968.635831                1.893002e+05
std        1.171154     23.786032                2.292904e+05
min        1.000000   1824.000000                4.400000e+01
25%        1.000000   1953.000000                8.431100e+04
50%        1.000000   1970.000000                1.365810e+05
75%        1.000000   1987.000000                2.188070e+05
max      237.000000   2016.000000                1.142179e+07

       taxvaluedollarcnt  assessmentyear  landtaxvaluedollarcnt  \
count       7.730400e+04         77305.0           7.730400e+04
mean        4.901866e+05          2016.0           3.011337e+05
std         6.528686e+05             0.0           4.924045e+05
min         1.000000e+03          2016.0           1.610000e+02
25%         2.071038e+05          2016.0           8.557300e+04
50%         3.590000e+05          2016.0           2.035605e+05
75%         5.694450e+05          2016.0           3.670000e+05
max         4.906124e+07          2016.0           4.895220e+07

           taxamount  censustractandblock      logerror
count   77300.000000         7.707900e+04  77305.000000
mean     5995.722492         6.049663e+13      0.016529
std      7614.895551         1.535808e+12      0.169665
min        19.920000         6.037101e+13     -4.655420
25%      2717.595000         6.037311e+13     -0.024377
50%      4451.850000         6.037603e+13      0.006617
75%      6930.902500         6.059042e+13      0.039172
max    586639.300000         4.830301e+14      5.262999

[8 rows x 25 columns]
=====================================================
DataFrame value counts:
(10554878.322, 26409522.7]    77278
(26409522.7, 42107190.4]          0
(42107190.4, 57804858.1]          0
(57804858.1, 73502525.8]          0
(73502525.8, 89200193.5]          1
(89200193.5, 104897861.2]         1
(104897861.2, 120595528.9]        0
(120595528.9, 136293196.6]        0
(136293196.6, 151990864.3]        0
(151990864.3, 167688532.0]       25
Name: parcelid, dtype: int64

(-0.019, 1.8]    14833
(1.8, 3.6]       56436
(3.6, 5.4]        5073
(5.4, 7.2]         801
(7.2, 9.0]         150
(9.0, 10.8]          7
(10.8, 12.6]         3
(12.6, 14.4]         1
(14.4, 16.2]         0
(16.2, 18.0]         1
Name: bathroomcnt, dtype: int64

(-0.017, 1.6]     4133
(1.6, 3.2]       49531
(3.2, 4.8]       17513
(4.8, 6.4]        5541
(6.4, 8.0]         460
(8.0, 9.6]          70
(9.6, 11.2]         39
(11.2, 12.8]        14
(12.8, 14.4]         3
(14.4, 16.0]         1
Name: bedroomcnt, dtype: int64

(0.982, 2.7]    52390
(2.7, 4.4]      21699
(4.4, 6.1]       2361
(6.1, 7.8]        176
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: calculatedbathnbr, dtype: int64

(92.487, 3679.2]      73880
(3679.2, 7230.4]       3134
(7230.4, 10781.6]       148
(10781.6, 14332.8]       15
(14332.8, 17884.0]        3
(17884.0, 21435.2]        3
(21435.2, 24986.4]        1
(24986.4, 28537.6]        0
(28537.6, 32088.8]        0
(32088.8, 35640.0]        1
Name: calculatedfinishedsquarefeet, dtype: int64

(106.198, 2308.1]     59593
(2308.1, 4488.2]      12862
(4488.2, 6668.3]       1069
(6668.3, 8848.4]        161
(8848.4, 11028.5]        45
(11028.5, 13208.6]       12
(13208.6, 15388.7]        2
(15388.7, 17568.8]        2
(17568.8, 19748.9]        1
(19748.9, 21929.0]        2
Name: finishedsquarefeet12, dtype: int64

(6036.925, 6044.4]    50537
(6044.4, 6051.8]          0
(6051.8, 6059.2]      20539
(6059.2, 6066.6]          0
(6066.6, 6074.0]          0
(6074.0, 6081.4]          0
(6081.4, 6088.8]          0
(6088.8, 6096.2]          0
(6096.2, 6103.6]          0
(6103.6, 6111.0]       6229
Name: fips, dtype: int64

(0.982, 2.7]    52407
(2.7, 4.4]      22399
(4.4, 6.1]       1699
(6.1, 7.8]        121
(7.8, 9.5]        134
(9.5, 11.2]        10
(11.2, 12.9]        0
(12.9, 14.6]        1
(14.6, 16.3]        0
(16.3, 18.0]        1
Name: fullbathcnt, dtype: int64

(33338047.759000003, 33487451.0]     1035
(33487451.0, 33635375.0]             5314
(33635375.0, 33783299.0]            10020
(33783299.0, 33931223.0]            14774
(33931223.0, 34079147.0]            14217
(34079147.0, 34227071.0]            18882
(34227071.0, 34374995.0]             6261
(34374995.0, 34522919.0]             3144
(34522919.0, 34670843.0]             2321
(34670843.0, 34818767.0]             1337
Name: latitude, dtype: int64

(-119477336.781, -119283338.0]      221
(-119283338.0, -119091260.0]       1992
(-119091260.0, -118899182.0]       1492
(-118899182.0, -118707104.0]       2659
(-118707104.0, -118515026.0]       5922
(-118515026.0, -118322948.0]      15421
(-118322948.0, -118130870.0]      15356
(-118130870.0, -117938792.0]      14206
(-117938792.0, -117746714.0]      12659
(-117746714.0, -117554636.0]       7377
Name: longitude, dtype: int64

(-6734.775000000001, 697313.4]    68850
(697313.4, 1394390.8]               227
(1394390.8, 2091468.2]               38
(2091468.2, 2788545.6]                2
(2788545.6, 3485623.0]                1
(3485623.0, 4182700.4]                9
(4182700.4, 4879777.8]                0
(4879777.8, 5576855.2]                0
(5576855.2, 6273932.6]                0
(6273932.6, 6971010.0]                7
Name: lotsizesquarefeet, dtype: int64

0100    26711
122     13045
010C     8810
0101     6399
34       4889
        ...
040V        1
020E        1
020G        1
030G        1
0203        1
Name: propertycountylandusecode, Length: 75, dtype: int64

LAR1          6745
LAR3          2435
LARS          1389
LBR1N         1222
LARD1.5       1127
              ...
LFR130000*       1
WCRA20000*       1
RPRS8000-O       1
GAC3             1
BGA1*            1
Name: propertyzoningdesc, Length: 1907, dtype: int64

(60370272.019999996, 60444919.091]    50537
(60444919.091, 60518827.081]              0
(60518827.081, 60592735.071]          20539
(60592735.071, 60666643.061]              0
(60666643.061, 60740551.052]              0
(60740551.052, 60814459.042]              0
(60814459.042, 60888367.032]              0
(60888367.032, 60962275.022]              0
(60962275.022, 61036183.012]              0
(61036183.012, 61110091.002]           6229
Name: rawcensustractandblock, dtype: int64

(3097.9339999999997, 42797.5]    55612
(42797.5, 82104.0]               18101
(82104.0, 121410.5]               1052
(121410.5, 160717.0]                 0
(160717.0, 200023.5]                 0
(200023.5, 239330.0]                 0
(239330.0, 278636.5]                24
(278636.5, 317943.0]                 0
(317943.0, 357249.5]                 0
(357249.5, 396556.0]              1056
Name: regionidcity, dtype: int64

(1284.184, 1467.5]    20539
(1467.5, 1649.0]          0
(1649.0, 1830.5]          0
(1830.5, 2012.0]          0
(2012.0, 2193.5]       6229
(2193.5, 2375.0]          0
(2375.0, 2556.5]          0
(2556.5, 2738.0]          0
(2738.0, 2919.5]          0
(2919.5, 3101.0]      50537
Name: regionidcounty, dtype: int64

(95678.306, 126351.3]    77248
(126351.3, 156720.6]         0
(156720.6, 187089.9]         0
(187089.9, 217459.2]         0
(217459.2, 247828.5]         0
(247828.5, 278197.8]         0
(278197.8, 308567.1]         0
(308567.1, 338936.4]         0
(338936.4, 369305.7]         0
(369305.7, 399675.0]        12
Name: regionidzip, dtype: int64

(-0.016, 1.5]    59734
(1.5, 3.0]         225
(3.0, 4.5]        1415
(4.5, 6.0]        7529
(6.0, 7.5]        3838
(7.5, 9.0]        4065
(9.0, 10.5]        339
(10.5, 12.0]       143
(12.0, 13.5]        10
(13.5, 15.0]         7
Name: roomcnt, dtype: int64

(0.763, 24.6]     50560
(24.6, 48.2]          2
(48.2, 71.8]          0
(71.8, 95.4]          0
(95.4, 119.0]         0
(119.0, 142.6]        0
(142.6, 166.2]        0
(166.2, 189.8]        0
(189.8, 213.4]        0
(213.4, 237.0]        1
Name: unitcnt, dtype: int64

(1823.807, 1843.2]        1
(1843.2, 1862.4]          0
(1862.4, 1881.6]          3
(1881.6, 1900.8]         90
(1900.8, 1920.0]       1743
(1920.0, 1939.2]       6688
(1939.2, 1958.4]      18463
(1958.4, 1977.6]      20355
(1977.6, 1996.8]      19097
(1996.8, 2016.0]      10678
Name: yearbuilt, dtype: int64

(-11377.747, 1142218.6]     76601
(1142218.6, 2284393.2]        492
(2284393.2, 3426567.8]         73
(3426567.8, 4568742.4]         19
(4568742.4, 5710917.0]          8
(5710917.0, 6853091.6]          2
(6853091.6, 7995266.2]          6
(7995266.2, 9137440.8]          0
(9137440.8, 10279615.4]         1
(10279615.4, 11421790.0]        1
Name: structuretaxvaluedollarcnt, dtype: int64

(-48060.236999999994, 4907023.6]    77082
(4907023.6, 9813047.2]                182
(9813047.2, 14719070.8]                26
(14719070.8, 19625094.4]                8
(19625094.4, 24531118.0]                4
(24531118.0, 29437141.6]                1
(29437141.6, 34343165.2]                0
(34343165.2, 39249188.8]                0
(39249188.8, 44155212.4]                0
(44155212.4, 49061236.0]                1
Name: taxvaluedollarcnt, dtype: int64

(2013.983, 2014.387]        0
(2014.387, 2014.79]         0
(2014.79, 2015.194]         0
(2015.194, 2015.597]        0
(2015.597, 2016.0]      77305
(2016.0, 2016.403]          0
(2016.403, 2016.806]        0
(2016.806, 2017.21]         0
(2017.21, 2017.613]         0
(2017.613, 2018.016]        0
Name: assessmentyear, dtype: int64

(-48791.03799999999, 4895364.7]    77196
(4895364.7, 9790568.4]                87
(9790568.4, 14685772.1]               14
(14685772.1, 19580975.8]               5
(19580975.8, 24476179.5]               1
(24476179.5, 29371383.2]               0
(29371383.2, 34266586.9]               0
(34266586.9, 39161790.6]               0
(39161790.6, 44056994.3]               0
(44056994.3, 48952198.0]               1
Name: landtaxvaluedollarcnt, dtype: int64

(-566.6999999999999, 58681.858]    77089
(58681.858, 117343.796]              175
(117343.796, 176005.734]              22
(176005.734, 234667.672]               9
(234667.672, 293329.61]                4
(293329.61, 351991.548]                0
(351991.548, 410653.486]               0
(410653.486, 469315.424]               0
(469315.424, 527977.362]               0
(527977.362, 586639.3]                 1
Name: taxamount, dtype: int64

(59948352007016.984, 102636920499301.5]    77078
(102636920499301.5, 144902829897603.0]         0
(144902829897603.0, 187168739295904.5]         0
(187168739295904.5, 229434648694206.03]        0
(229434648694206.03, 271700558092507.5]        0
(271700558092507.5, 313966467490809.0]         0
(313966467490809.0, 356232376889110.5]         0
(356232376889110.5, 398498286287411.94]        0
(398498286287411.94, 440764195685713.5]        0
(440764195685713.5, 483030105084015.0]         1
Name: censustractandblock, dtype: int64

(-4.666, -3.664]        3
(-3.664, -2.672]        1
(-2.672, -1.68]        36
(-1.68, -0.688]       140
(-0.688, 0.304]     75277
(0.304, 1.296]       1675
(1.296, 2.287]        101
(2.287, 3.279]         70
(3.279, 4.271]          1
(4.271, 5.263]          1
Name: logerror, dtype: int64

2017-06-30    1188
2017-04-28     911
2017-05-31     866
2017-07-28     814
2017-08-31     781
              ...
2017-07-09       1
2017-08-12       1
2017-08-06       1
2017-08-05       1
2017-09-25       1
Name: transactiondate, Length: 264, dtype: int64

Central       33550
Floor/Wall    14065
Yes             846
Forced air      776
Solar           104
None             59
Radiant          23
Baseboard        13
Gravity           3
Heat Pump         1
Name: heatingorsystemdesc, dtype: int64

Single Family Residential                     52308
Condominium                                   19239
Duplex (2 Units, Any Combination)              2009
Planned Unit Development                       1942
Quadruplex (4 Units, Any Combination)           726
Triplex (3 Units, Any Combination)              535
Cluster Home                                    333
Mobile Home                                      73
Manufactured, Modular, Prefabricated Homes       54
Residential General                              36
Cooperative                                      29
Commercial/Office/Residential Mixed Used         15
Townhouse                                         6
Name: propertylandusedesc, dtype: int64

=====================================================
nulls in dataframe by column:
                              num_rows_missing  percent_rows_missing
heatingorsystemdesc                      27865             36.045534
propertyzoningdesc                       26987             34.909773
unitcnt                                  26742             34.592847
lotsizesquarefeet                         8171             10.569821
finishedsquarefeet12                      3556              4.599961
regionidcity                              1460              1.888623
calculatedbathnbr                          533              0.689477
fullbathcnt                                533              0.689477
censustractandblock                        226              0.292348
yearbuilt                                  187              0.241899
calculatedfinishedsquarefeet               120              0.155229
structuretaxvaluedollarcnt                 102              0.131945
regionidzip                                 45              0.058211
taxamount                                    5              0.006468
landtaxvaluedollarcnt                        1              0.001294
taxvaluedollarcnt                            1              0.001294
logerror                                     0              0.000000
transactiondate                              0              0.000000
assessmentyear                               0              0.000000
parcelid                                     0              0.000000
regionidcounty                               0              0.000000
roomcnt                                      0              0.000000
bathroomcnt                                  0              0.000000
rawcensustractandblock                       0              0.000000
propertycountylandusecode                    0              0.000000
longitude                                    0              0.000000
latitude                                     0              0.000000
fips                                         0              0.000000
bedroomcnt                                   0              0.000000
propertylandusedesc                          0              0.000000
=====================================================
nulls in dataframe by row:
       num_cols_missing  percent_cols_missing
8595                  8             26.666667
16245                 8             26.666667
54739                 8             26.666667
48843                 8             26.666667
7985                  8             26.666667
...                 ...                   ...
45318                 0              0.000000
45317                 0              0.000000
45316                 0              0.000000
45315                 0              0.000000
38976                 0              0.000000

[77305 rows x 2 columns]
=====================================================

In [46]:
# getting only single family residences
df = df[df.propertylandusedesc.isin(['Duplex (2 Units, Any Combination)', 'Planned Unit Development', 'Quadruplex (4 Units, Any Combination)', 'Triplex (3 Units, Any Combination', 'Commercial/Office/Residential Mixed Used','Residential General', 'Cooperative', 'Cluster Home'])==False]

In [49]:
import env
import pandas as pd
import os

import scipy.stats as stats
import numpy as np
from sklearn.model_selection import train_test_split

In [50]:
def split_data(df):
    '''
    Arguments: clean dataframe
    Actions: splits Dataframe into a train, validate, and test datasets for explorations
    Returns: train, validate, and test datasets
    Modules:
        1. from sklearn.model_selection import train_test_split
    '''
    # splitting with test focus
    train_val, test = train_test_split(df, train_size=.8, random_state=1017)
    
    #splitting with train/validate focus
    train, validate = train_test_split(train_val, train_size=.7, random_state=1017)

    # exits function and returns train, validate, test
    return train, validate, test

In [ ]:
def clean_zillow():
    '''
    Actions:
    '''
    
    # get data
    df = handle_missing_values(get_zillow())
    
    # dropping duplicates and keeping the first
    df = df.sort_values('transactiondate', ascending=False).drop_duplicates(subset=['parcelid'], keep='first')

    # getting only single family residences
    df = df[df.propertylandusedesc.isin(['Duplex (2 Units, Any Combination)', 'Planned Unit Development', 'Quadruplex (4 Units, Any Combination)', 'Triplex (3 Units, Any Combination', 'Commercial/Office/Residential Mixed Used','Residential General', 'Cooperative', 'Cluster Home'])==False]
    
    # creating list of columns to remove
    cols_to_remove = [x for x in df.columns if x != 'parcelid' and (x[-2:] == 'id') ]
    
    # removing columns
    df = remove_columns(df, cols_to_remove)